@model List<GymLife.Web.Models.Branch>
@foreach (var item in Model){
     <div class="latest-item">
         <div class="li-pic">
         <img src="@item.ResimURL" alt="">
        </div>
    </div>
}