@model List<GymLife.Web.Models.Communication>
@foreach (var item in Model){
     <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>@item.Address</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>@item.Phone</li>
                            <li>@item.Phone1</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>@item.Mail</p>
                    </div>
                </div>
}