@model List<GymLife.Web.Models.Branch>
<ul>
@foreach (var item in Model)
{
    <li>
        <a asp-controller="Blog" asp-action="Index" asp-route-category="@item.BranchID">
            @item.BranchName
        </a>
    </li>
}
</ul>